<h3>Your Playlists</h3>

<table>
  <% if @playlists.count == 0 %>
    You don't have any playlists yet. <%= link_to 'Make a new one.', new_playlist_path %>
  <% else %>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= link_to playlist.name, playlist %></td>
      </tr>
    <% end %>
  <% end %>
</table>